---
layout: default
---

{% capture my_include %}
<p class="lead">Transform your development team with the REFLEX methodology - an evolutionary approach to embedding security into your software engineering DNA. Created by Java Champion Steve Poole, REFLEX helps teams stop reacting and start defending.</p>
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a type="button" href="https://reflexframework.substack.com/p/reflex-methodology-background" class="btn btn-primary btn-lg px-4 me-md-2">Background</a>
    <a type="button" href="https://reflexframework.substack.com/p/reflex-methodology-overview" class="btn btn-primary btn-lg px-4 me-md-2">Details</a>

</div>

{% endcapture %}

{% include mirror_hero_image.html title="Overview" image="reflex_circle.png" content=my_include  %}


<hr>
{% include reflex_intro.html %}

