<div class="container col-xxl-8 px-4 py-5">
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Meet Steve</h1>
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="/assets/img/leader-portrait.png" class="d-block mx-lg-auto img-fluid"  width="700" height="500" loading="lazy">

    </div>

    <div class="col-lg-6">


        <div class="timeline">
            <!-- Item 1 -->
            <div class="timeline-item">
                <div class="timeline-icon">🎖️</div>
                <h5>Java Champion & OSS Leader</h5>
                <p class="mb-1">Past contributor to Apache, Eclipse, and OpenJDK projects. Regular international speaker on software security. CNCF Security TAG Member</p>

            </div>

            <!-- Item 1.5 -->
            <div class="timeline-item">
                <div class="timeline-icon">🎖️</div>
                <h5>Leader of the London Java Community</h5>

            </div>
            <!-- Item 2 -->
            <div class="timeline-item">
                <div class="timeline-icon">🛡</div>
                <h5>Security Expert</h5>
                <p>Specialising in software supply chain security, AI protection, and secure development practices - including legislation and regulation.</p>
            </div>

            <!-- Item 3 -->
            <div class="timeline-item">
                <div class="timeline-icon">🚀</div>
                <h5>Technical Leader</h5>
                <p>Former Director at Sonatype, DevOps and Technical Leader at IBM, Community Manager at Red Hat.</p>
            </div>
            <!-- Item 4 -->
            <div class="timeline-item">
                <div class="timeline-icon">🚀</div>
                <h5>Engineer & Occasional Mad Scientist</h5>
                <p>Runtimes and OS expert, Esp32 to Quantum, Robot builder and tinkerer</p>
            </div>
            <!-- Item 5 -->
            <div class="timeline-item">
                <div class="timeline-icon">🚀</div>
                <h5>Author & Advocate</h5>
                <p>Creator of the REFLEX security methodology and published technical author across multiple platforms</p>
            </div>
            <!-- Item 5 -->
            <div class="timeline-item">
                <div class="timeline-icon">🚀</div>
                <h5>10xInsights Host</h5>
                <p>A podcast for technical folk</p>
            </div>
        </div>

    </div>
</div>

</div>