<div class="container col-xxl-8 px-4 py-5">
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
     <div class="container text-center mb-5">
            <h2 class="fw-bold">Published Author and Speaker</h2>

        </div>

        <div class="container">
            <div class="row g-4">

                <!-- Languages Card -->
                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 p-3">
                        <div class="card-body">
                            <div class="card-icon mb-3">🦜</div>
                            <h5 class="card-title">Talks</h5>
                            <p class="card-text">Hundreds of presentations at conferences world-wide</p>
                        </div>
                    </div>
                </div>

                <!-- Platforms Card -->
                <div class="col-md-6 col-lg-3">
                    <a style="display: block; text-decoration: none; color: inherit;" href="https://www.youtube.com/playlist?list=PL8x_RekIw2GwwOgrtQv0jD57EgUWESjuZ">

                    <div class="card h-100 p-3">
                        <div class="card-body">
                            <div class="card-icon mb-3">📹</div>
                            <h5 class="card-title">Videos</h5>
                            <p class="card-text">Just a few on Youtube</p>
                        </div>
                    </div>
                    </a>
                </div>

                <!-- Edge to Enterprise Card -->
                <div class="col-md-6 col-lg-3">
                    <a style="display: block; text-decoration: none; color: inherit;" href="https://javapro.io/author/stevepoole/">

                    <div class="card h-100 p-3">
                        <div class="card-body">
                            <div class="card-icon mb-3">📖</div>
                            <h5 class="card-title">Articles</h5>
                            <p class="card-text">JavaPro , Foojay and others</p>
                        </div>
                    </div>
                    </a>
                </div>

                <!-- Security Card -->
                <div class="col-md-6 col-lg-3">
                    <a style="display: block; text-decoration: none; color: inherit;" href="https://10xinsights.dev">

                    <div class="card h-100 p-3">
                        <div class="card-body">
                            <div class="card-icon mb-3">🔇</div>
                            <h5 class="card-title">10xInsights Podcast</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                    </a>
                </div>

            </div>
        </div>

</div>
</div>
