<div class="pyramid">

    <div class="pyramid-layer" data-aos="zoom-in">
        <i class="bi bi-shield-exclamation"></i>
        <div>Security as an afterthought</div>
    </div>

    <div class="pyramid-layer" data-aos="zoom-in" data-aos-delay="100">
        <i class="bi bi-translate"></i>
        <div>Communication divide</div>
    </div>

    <div class="pyramid-layer" data-aos="zoom-in" data-aos-delay="200">
        <i class="bi bi-exclamation-triangle"></i>
        <div>Inadequate vulnerability info</div>
    </div>

    <div class="pyramid-layer" data-aos="zoom-in" data-aos-delay="300">
        <i class="bi bi-gear"></i>
        <div>Reactive approaches</div>
    </div>

</div>